@import '../../../Styles/partials/02-general/general.to-rem';
@import '../../../Styles/partials/01-settings/settings.colors';

.widget {
  height: to-rem(250);
  padding: to-rem(12);
  border: 1px solid $color-primary-border;

  &__title {
    margin: 0;
    font-size: to-rem(18);
    text-align: center;
  }
}