@import '../../../Styles/partials/02-general/general.to-rem';

.blog-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.blog-post-preview-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: to-rem(20);
  width: 100%;
}

.more-button {
  width: fit-content;
}
