.MuiAlert {
  &-standardError,
  &-filledError {
    background-color: $color-primary-error-background;
    color: $color-primary-foreground
  }
  &-standardSuccess,
  &-filledSuccess {
    background-color: $color-primary-success-background;
    color: $color-primary-foreground
  }
}

.MuiButton {
  &-root {
    text-transform: none;
  }
  &-outlinedPrimary {
      color: white;
      background-color: $color-secondary-background;
      border-color: $color-primary-border;
      &:hover {
        color: white;
        border-color: $color-primary-highlight;
        background-color: $color-secondary-highlight;
      }
  }
}

.MuiChip {
  &-root {
    border-radius: to-rem(4);
    height: to-rem(18);
  }
  &-labelSmall {
    padding-left: to-rem(4);
    padding-right: to-rem(4);
    font-weight: bold;
    font-size: to-rem(11);
  }
}

.MuiDialog {
  &-paper {
    border: 1px solid $color-primary-border;
  }
}

.MuiFormLabel {
  &-root {
    color: $color-primary-foreground;
    &.Mui-focused {
      color: $color-primary-foreground;
    }
  }
}

.MuiFormHelperText {
  &-root {
    color: $color-primary-foreground;
  }
}

.MuiLoadingButton {
  &-root {
    &.Mui-disabled {
      border: 1px solid $color-muted-foreground;
    }
  }

  &-loadingIndicator {
    color: $color-primary-foreground;
  }
}

.MuiMenuItem {
  &-root {
    color: $color-menu-foreground;
  }
}

.MuiOutlinedInput {
  &-root {
    border: 1px solid $color-primary-border;
    border-radius: to-rem(4);
    &.Mui-focused {
      border: 0;
      @include respond-above(md) {
        border: 1px solid $color-primary-border;
      }
    }
  }
}
