.MuiAlert {
  &-root {
    background-color: $color-primary-error-background;
    color: $color-primary-foreground
  }
}

.MuiButton {
  &-root {
    color: white;
    background-color: $color-secondary-background;
    border-color: $color-primary-border;
    text-transform: none;
    &:hover {
      color: white;
      border-color: $color-primary-highlight;
      background-color: $color-secondary-highlight;
    }
  }
}

.MuiFormLabel {
  &-root {
    color: $color-primary-foreground;
  }
}

.MuiLoadingButton {
  &-root {
    &.Mui-disabled {
      border: 1px solid $color-muted-foreground;
    }
  }

  &-loadingIndicator {
    color: $color-primary-foreground;
  }
}

.MuiMenuItem {
  &-root {
    color: $color-menu-foreground;
    &-hover {
      background-color: $color-secondary-highlight;
    }
  }
}

.MuiOutlinedInput {
  &-root {
    @include respond-above(md) {
      border: 1px solid $color-primary-border;
      border-radius: to-rem(4);
    }
    &.Mui-focused {
      border: 0;
      @include respond-above(md) {
        border: 1px solid $color-primary-border;
      }
    }
  }
}

.MuiSvgIcon {
  &-root {
    color: $color-primary-foreground;
  }
}
