@import '../../Styles/partials/01-settings/settings.colors';
@import '../../Styles/partials/02-general/general.to-rem';

.releaseFilter {
  min-width: 20%;
  padding-left: to-rem(10);
  border-left: to-rem(1) solid $color-primary-border;
}
