@import '../../Styles/partials/02-general/general.to-rem';

.releaseCard {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
}

.releaseCardMedia {
  height: to-rem(300);
  width: to-rem(300);
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
}
