h1 {
  font-size: to-rem(24);
  font-family: $font-heading;
  text-shadow: 2px 2px $color-primary-border;
  margin-top: to-rem(16);
  margin-bottom: to-rem(8);
}
h2 {
  font-size: to-rem(22);
  font-family: $font-heading;
}
h3 {
  font-size: to-rem(20);
}
h4 {
  font-size: to-rem(18);
}
hr {
  border-color: $color-primary-border;
  margin: 0 0 to-rem(16);
}