h1 {
  font-size: to-rem(24);
  font-family: $font-heading;
  text-shadow: 2px 2px $color-primary-border;
  margin-top: to-rem(16);
  margin-bottom: to-rem(8);
  font-weight: 500;
  line-height: 1.2;
}
h2 {
  font-size: to-rem(22);
  font-family: $font-heading;
  margin-top: to-rem(16);
  margin-bottom: to-rem(8);
}
h3 {
  font-size: to-rem(20);
}
h4 {
  font-size: to-rem(18);
}
hr {
  border-color: $color-primary-border;
  margin: 0 0 to-rem(16);
}
p {
  margin-top: to-rem(4);
  margin-bottom: to-rem(15);
  text-align: justify;
  color: $color-primary-foreground;
}
