html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  scroll-behavior: smooth;
  background-color: $color-body-background;
  color: $color-primary-foreground;
  font-family: $font-body;
  font-size: $base-font-size;
  text-align: left;
  font-weight: 500;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: to-rem(8);
}

::-webkit-scrollbar-track {
  background: $color-body-background;
}

::-webkit-scrollbar-thumb {
  background: $color-primary-border;
  border-radius: to-rem(5);
}
