@import '../../Styles/partials/02-general/general.to-rem';

.spotify-info-cell {
  display: flex;
  flex-direction: column;
  gap: to-rem(5);
}

.spotify-genres {
  display: flex;
  flex-direction: row;
  gap: to-rem(5);
}

.spotify-thumb-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .spotify-thumb {
    width: 100%;
  }
}
