@import '../../../../Styles/partials/01-settings/settings.colors';
@import '../../../../Styles/partials/02-general/general.to-rem';

.side-menu-item {
  &__list-item {
    &:hover {
      background-color: $color-primary-border;
    }
  }
  &__link {
    color: $color-menu-foreground;
    &-active {
      color: $color-menu-foreground;
      & li {
        background-color: $color-primary-border;
      }
    }
    &:hover,
    &-active:hover {
      color: $color-menu-foreground;
    }
  }
  &__icon {
    min-width: to-rem(30);
  }
  &__heading {
    font-size: to-rem(15);
    margin-top: to-rem(0);
    margin-bottom: to-rem(0);
  }
}
