$color-primary-background: #02040A;
$color-secondary-background: #0b0e13;
$color-primary-foreground: #d3d3d3;
$color-grey-border: #2c3138;
$color-grey-border-highlight: #424954;
$color-grey-hover: rgba(44, 49, 56, 0.35);
$color-menu-foreground: #fcfcfc;
$color-menu-foreground-hover: #ccc;
$color-dark-field-background: $color-secondary-background;
$color-muted-font: #818181;
$color-muted-highlight-font: $color-primary-foreground;
$color-dark-font: #181818;
$color-light-hyperlink: #2a9fd6;
$color-light-hyperlink-highlight: #1d7097;
$color-dark-card-background: $color-secondary-background;
$color-dark-card-footer-background: #13181e;
$color-light-badge-background: #adafae;
