$color-body-background: #02040A;
$color-primary-background: #0b0e13;
$color-primary-foreground: #d3d3d3;
$color-primary-border: #2c3138;
$color-primary-highlight: #bebebe;
$color-secondary-highlight: rgba(44, 49, 56, 0.35);
$color-menu-foreground: #fcfcfc;
$color-muted-foreground: #818181;
$color-secondary-background: #13181e;
$color-muted-highlight-font: $color-primary-foreground;
$color-dark-font: #181818;
$color-light-hyperlink: #2a9fd6;
$color-light-hyperlink-highlight: #1d7097;
$color-light-badge-background: #adafae;
$color-primary-error-background: #3a0b0b;
